In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
df = pd.read_excel(os.getcwd()+"\Sales_Data.xlsx")

In [3]:
df.columns=['customer','percent_gross_profit','gross_sales','gross_profit','industry_code','competitive_rating']
#columns renamed

In [4]:
df = df.drop(['customer','percent_gross_profit'],axis=1)

In [5]:
df.head()

   gross_sales  gross_profit  industry_code  competitive_rating
0          249         54.78              5                   1
1          476         99.96              5                   1
2        31019      11477.03              6                   1
3         3864       2318.40              7                   1
4         4711       1507.52              7                   1

In [6]:
df.describe()

         gross_sales  gross_profit  industry_code  competitive_rating
count      60.000000     60.000000      60.000000           60.000000
mean    25016.500000   4239.164583       4.483333            3.000000
std     36344.568583   5811.729263       1.899970            1.089239
min       170.000000     40.600000       1.000000            1.000000
25%      2645.750000    435.060000       3.000000            2.000000
50%      6760.000000   1662.430000       5.000000            3.000000
75%     32171.000000   5690.385000       6.000000            4.000000
max    179101.000000  25379.340000       7.000000            5.000000

In [7]:
X=df

In [8]:
# Scaling the data to bring all the attributes to a comparable level 
from sklearn.preprocessing import StandardScaler, normalize
scaler = StandardScaler() 
X_scaled = scaler.fit_transform(X) 

# Normalizing the data so that 
# the data approximately follows a Gaussian distribution 
X_normalized = normalize(X_scaled) 

# Converting the numpy array into a pandas DataFrame 
X_normalized = pd.DataFrame(X_normalized)

In [9]:
X_normalized.head()

          0         1         2         3
0 -0.323841 -0.342149  0.129227 -0.872561
1 -0.321585 -0.339206  0.129514 -0.874499
2  0.069873  0.526889  0.337720 -0.776821
3 -0.246515 -0.139987  0.561047 -0.777728
4 -0.234857 -0.197583  0.556812 -0.771857

In [10]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2) 
X_principal = pca.fit_transform(X_normalized) 
X_principal = pd.DataFrame(X_principal) 
X_principal.columns = ['P1', 'P2'] 
print(X_principal.head())

         P1        P2
0  0.589677 -0.193664
1  0.589300 -0.189992
2  0.411207  0.726092
3  0.844305  0.151595
4  0.846982  0.115653

In [11]:
# Numpy array of all the cluster labels assigned to each data point 
from sklearn.cluster import DBSCAN
# db_default = DBSCAN(eps = 0.0375, min_samples = 3).fit(X_principal) 
# labels = db_default.labels_ 
dbscan = DBSCAN()
clusters = dbscan.fit_predict(X_principal)

In [12]:
# labels

CLEARLY WE CAN SEE 3 CLUSTERS

In [13]:
# model = DBSCAN(eps=0.25 , min_samples=10)
# model.fit(X_principal)

In [14]:
# model.labels_

In [16]:
plt.scatter(X_principal[:, 0], X_principal[:, 1], c=clusters, cmap=mglearn.cm2, s=60)
plt.xlabel("Feature 0")
plt.ylabel("Feature 1")

# scaler = StandardScaler()
# scaler.fit(X)
# X_scaled = scaler.transform(X)
# dbscan = DBSCAN()

TypeError: '(slice(None, None, None), 0)' is an invalid key

In [ ]:
# colours1 = {} 
# colours1[0] = 'r'
# colours1[1] = 'g'
# colours1[2] = 'b'
# colours1[3] = 'c'
# colours1[4] = 'y'
# colours1[5] = 'm'
# colours1[-1] = 'k'

# cvec = [colours1[label] for label in labels] 
# colors = ['r', 'g', 'b', 'c', 'y', 'm', 'k' ] 

# r = plt.scatter(X_principal['P1'], X_principal['P2'], marker ='o', color = colors[0])

In [ ]:
# # Building the label to colour mapping 
# colours = {} 
# colours[0] = 'r'
# colours[1] = 'g'
# colours[2] = 'b'
# colours[-1] = 'k'

# # Building the colour vector for each data point 
# cvec = [colours[label] for label in labels] 

# # For the construction of the legend of the plot 
# r = plt.scatter(X_principal['P1'], X_principal['P2'], color ='r'); 
# g = plt.scatter(X_principal['P1'], X_principal['P2'], color ='g'); 
# b = plt.scatter(X_principal['P1'], X_principal['P2'], color ='b'); 
# k = plt.scatter(X_principal['P1'], X_principal['P2'], color ='k'); 

# # Plotting P1 on the X-Axis and P2 on the Y-Axis 
# # according to the colour vector defined 
# plt.figure(figsize =(9, 9)) 
# plt.scatter(X_principal['P1'], X_principal['P2'], c = cvec) 

# # Building the legend 
# plt.legend((r, g, b, k), ('Label 0', 'Label 1', 'Label 2', 'Label -1')) 

# #plt.show()

In [ ]:
# db = DBSCAN(eps = 0.0375, min_samples = 50).fit(X_principal) 
# labels1 = db.labels_

In [ ]:
# colours1 = {} 
# colours1[0] = 'r'
# colours1[1] = 'g'
# colours1[2] = 'b'

# cvec = [colours1[label] for label in labels] 
# colors = ['r', 'g', 'b'] 

# plt.scatter(X_principal['P1'], X_principal['P2'], marker ='o', color ='red')
# plt.scatter(X_principal['P1'], X_principal['P2'], marker ='o', color = 'blue') 
# plt.scatter(X_principal['P1'], X_principal['P2'], marker ='o', color = )

# plt.figure(figsize =(9, 9)) 
# plt.scatter(X_principal['P1'], X_principal['P2'], c = cvec) 
# plt.legend(r,g,b)
           
# plt.show()